@font-face {
  font-family: "Quattrocento regular";
  src: url("../fonts/Quattrocento-Regular.ttf");
}

@font-face {
  font-family: "Quattrocento bold";
  src: url("../fonts/Quattrocento-Bold.ttf");
}