// ici ce sont les styles globaux 

@import 'reset.scss';
@import 'animations.scss';
@import url('https://fonts.googleapis.com/css?family=VT323');
@import '../../components/Home/Home.scss';
@import 'fonts.scss';

$background: #247BA0; 

body,
button,
input,
select,
textarea {
  font-family: "Quattrocento regular";
  font-size: 30px;
}

.big-header {
  // background-color: $background;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
}

.button {
  text-decoration: none;
  background: white;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  display: inline;
  flex-direction: row;
}

.choices {
  display: flex;
}

h1 {
  color :white;
  font-size: 30px;
}


