// ici ce sont les styles globaux 

@import 'reset';
@import url('https://fonts.googleapis.com/css?family=VT323');

$background: #247BA0;

body,
button,
input,
select,
textarea {
  font-family: 'VT323', monospace;
  font-size: 30px;
}

.big-header {
  background-color: $background;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

  color: white;
}

.button {
  color: $background;
  text-decoration: none;
  background: white;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
  border: none;
}

.choices {
  display: flex;
}
