.home {
  height: 100vh;
  background-image: url('../../assets/pictures/backgroundCity.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
}
